@import url('https://fonts.cdnfonts.com/css/century-gothic');
html,
body,
[class*="css"] {
  /* Add the name of your font and local font path here*/
  font-family: "Century Gothic";
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
.title-font {
  font-size: 48px !important;
  font-weight: bold;
  color: #0f294a;
  vertical-align: middle;
}